#widget-group {
  width: 50%;
  float: left;
}

#agent_form .inline-related {
  position: unset !important;
}

.level-helper-img-container {
  padding: 1rem 3rem;
  display: inline-block
}

.level-helper-img-container img {
  width: 85%;
  height: 70px;
}