.app-container {
  width: 280px;
  height: 191px;
  margin-left: 40%;
  margin-top: 10%;
}

#ac-component {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: scale(.9);
  -webkit-transform-origin: 0 0;
  box-sizing: border-box;

  * {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
  }

  .container {
    max-width: 500px;  
  }

  .columns {
    margin-left: 0;
    margin-right: 0;
  }
}

.traffic-light {
  
  &:nth-child(even) {
    margin: 0 .2rem;
  }

  &:after {
    background: black;
    bottom: 53%;
    content: "";
    display: block;
    height: 28px;
    left: 98%;
    position: relative;
    width: 5px;
  }

  &:last-child:after {
    background: transparent;
  }
}

.heading {
  padding: 10px;
  font-size: 25px;
  background: #140E49;
  color: white;
  text-align: center;
  text-transform: none;

  h2 {
    padding-bottom: 5px;
  }
}

.measurer {
  max-height: 130px;
  padding: 0 5px;
}

.measurer-content {
  background: rgb(213,213,213);
  background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(255,255,255,1) 100%);

  &:after {
    background: black;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: relative;
    width: 100%;
  }
}

.measurer-footer {
  position: relative;
  bottom: 23px;
  left: 5px;
  text-align: center;
  font-size: 7px;
  font-weight: bold;

  p {
    color: black;
  }

  .uipc {
    position: relative;
    top: 1.2rem;
    left: .8rem;
    font-size: 20px;
  }
}

.sides-border {
  border-left: 3px solid #c5c5c5;
  border-right: 3px solid #c5c5c5;
}

.information {
  padding-bottom: 2px;

  h5 {
    font-size: 7px;
    text-align: left;
    margin: 6px 0;
    color: black;
    padding-left: 5px;
  }
  p {
    font-size: 12px;
    text-align: center;
    color: black;
  }

  .column {
    padding: 0;
    &:nth-child(n + 2) {
      border-left: 1px solid #c5c5c5;
    }
  }
}

