{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}
<style>

    :root {
        --primary-color: #563e7d;
        --primary-color-faded: #8364bf;
        --secondary-color: #c916f4;
        --title-admin-page: #fff;
    }

    ::selection {
        background: var(--secondary-color);
        color:var(--primary-color);
        opacity:1
    }

    ::-moz-selection {
        background: var(--secondary-color);
        color:var(--primary-color);
        opacity:1
    }
    body {
        font-family:
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    }
    #header {
        background: var(--primary-color);
        padding-bottom: 1em;
    }

    #branding h1, #branding h1 a:link, #branding h1 a:visited {
        color: var(--title-admin-page);
    }
    .module h2, .module caption, .inline-group h2 {
        background-color: var(--primary-color-faded);
    }
    div.breadcrumbs {
        background: var(--primary-color-faded);
    }
    a:link, a:visited {
        color: var(--primary-color-faded);
    }
    .selector-chosen h2 {
        background: var(--primary-color-faded) !important;
    }
    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: var(--primary-color-faded);
    }
    .button.default, input[type=submit].default, .submit-row input.default {
        background: var(--primary-color);
    }
    .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover, a.addlink:hover {
        background: var(--primary-color-faded);
        opacity: 1;
    }
    .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
        background: var(--primary-color);
        opacity: 0.8;
    }

    #widget-group {
      width: 50%;
      float: left;
    }

    #agent_form .inline-related {
      position: unset !important;
    }

    .level-helper-img-container {
      padding: 1rem 3rem;
      display: inline-block
    }

    .level-helper-img-container img {
      width: 85%;
      height: 70px;
    }
    input.erase-cache-button {
        background: #F24452;
        margin-right: 1rem;
        transition: .3s;
    }
    input.erase-cache-button:hover, input.erase-cache-button:focus {
        background: #D93D4A;
    }
    input.erase-cache-button:active {
        transform: scale(.9);
        background: #D93D4A;
    }
    .erase-cache-form {
        display: inline-block;
    }

</style>
{% endblock %}

{% block welcome-msg %}
    <form action="{% url 'erase_cache' %}" method="post" class="erase-cache-form">
        {% csrf_token %}
        <input type="hidden" name="uri" value="{{ request.path_info }}">
        <input type="submit" id="clear-cache-btn" value="Borrar cache" class="erase-cache-button" />
    </form>
    {% trans 'Welcome,' %}
    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
{% endblock %}

{% block userlinks %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}