{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- Bulma css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link href="{% sass_src 'css/widget.scss' %}" rel="stylesheet" type="text/css" />
  <title>Calidad del aire</title>

</head>
<body>

<div class="app-container">
  <!-- Air Checker Component -->
  <div id="ac-component">
      <!-- Heading -->
      <div class="heading">
        <h2>{{agent.name}}</h2>
      </div>

      <div class="measurer-content">
        <!-- Info -->

        <div class="columns information">
        {% for metric in agent.metric_set.all %}
            <div class="column">
              <h5>{{ metric.name }}:</h5>
              <p>{{ metric.value }}</p>
            </div>
        {% endfor %}
        </div>

        <!-- Measurer -->
        <div class="columns is-centered measurer">
          {% include 'partials/widget.html' with level=agent.widget.total_level %}
        </div>

        <!-- Footer -->
        <div class="columns measurer-footer">
          <p>Medicion realizada el {{ agent.updated_at }} horas en el CUSur</p>
        </div>
      </div>
  </div>
</div>
  
</body>
</html>