{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!-- Bulma css -->
  <link href="{% static 'css/bulma.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src 'css/widget.scss' %}" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <title>Calidad del aire</title>

</head>
<body>

{% if preview %}
<div class="app-container">
{% endif %}
  <!-- Air Checker Component -->
  <div id="ac-component">
      <!-- Heading -->
      <div class="heading">
        <h2>{{agent.name}}</h2>
      </div>

      <div class="measurer-content">
        <!-- Info -->

        <div class="columns is-mobile information">
        {% for metric in agent.metric_set.all %}
            <div class="column">
              <h5>{{ metric.name }}:</h5>
              <p>{{ metric.value }}</p>
            </div>
        {% endfor %}
        </div>

        <!-- Measurer -->
        <div class="columns is-mobile is-centered measurer">
          {% include 'partials/widget.html' with level=agent.widget.total_level %}
        </div>

        <!-- Footer -->
        <div class="columns is-mobile measurer-footer is-centered">
          <p>Medicion realizada el {{ agent.updated_at }} horas en el CUSur</p>
        </div>
      </div>
  </div>

{% if preview %}
</div>
{% endif %}

<script src="{% static 'js/widget.js'%}"></script>
  
</body>
</html>